  <div class="grid_12" id="category-bar-container">
    <ul id="category-bar">
      <li><%= link_to "Add new video", new_video_path %></li>
      <li><%= link_to "Newest", :controller => :videos, :action => :index %></li>
      <li><%= link_to "Top Rated", :controller => :videos, :action => :top_rated %></li>
      <li><%= link_to "Events", events_path %></li>
      <li><%= link_to "Timeline", :controller => :videos, :action => :timeline %></li>
    </ul>
  </div>