<!DOCTYPE html>
<html>
<head>
  <title>ibreathefire.com</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %> 
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container_12" id="header-container">
  <div class="grid_12" id="user-account-bar-container">	
	<ul id="user-account-bar">
		<li><a href="/">Home</a></li>
		<% if user_signed_in? %>		
			<li><%= link_to "Account Settings", edit_user_registration_path %></li>
			<li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
		<% else %>
			<li id="login-link"><%= link_to "Log in", new_user_session_path %></li>
			<div id="login">
				<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
				  <div><%= f.label :email %><br />
				  <%= f.email_field :email %></div>

				  <div><%= f.label :password %><br />
				  <%= f.password_field :password %></div>

				  <% if devise_mapping.rememberable? -%>
				    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
				  <% end -%>

				  <div><%= f.submit "Sign in" %></div>
				<% end %>
			</div>
			
		<% end %>  		
	</ul>
  </div>
</div>
<div class="container_12">
	<% if flash[:notice] %>
	  <p class='notice'><%= flash[:notice] %></p>
	<% end %>	  
</div>
<div class="container_12">
	<%= yield %>
</div>

</body>
</html>
